@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 20px;
}

header ul{
    list-style-type: none;
    color: #E5E7EB;
    display: flex;
    margin: 20px;
    gap: 20px;
}

.maininfo{
    background-color: #1F2937;
    display: flex;
}

.maininfo h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.maininfo p{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 500;
    text-align: center;
}

.randominfo h2{
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
}

.imagepanel{
    display: flex;
    justify-content: center;
}

.quote{
    background-color: #E5E7EB;
}

.quote .text{
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.quote .author{
    font-weight: bold;
    text-align: right;
}

.calltoaction{
    display: flex;
    justify-content: center;
    background-color: #3882F6;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}